name: Containers

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        function:
          - initializer
          - finalizer
        include:
          - function: verifier
            target: tailscale
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - uses: aws-actions/configure-aws-credentials@v1
        if: github.event_name != 'pull_request'
        with:
          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE }}
          aws-region: us-east-1

      - uses: aws-actions/amazon-ecr-login@v2
        if: github.event_name != 'pull_request'
        id: ecr
        with:
          registry-type: public

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ steps.ecr.outputs.registry }}/krantz/tailfed/${{ matrix.function }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=ref,event=branch
            type=ref,event=pr
            type=sha,prefix=sha-

      - uses: docker/build-push-action@v6
        with:
          context: .
          target: ${{ matrix.target || 'bare' }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: mode=max
          cache-from: type=gha
          cache-to: type=gha
